@mixin button {
  color: $btnColor;
  background: $btnBG;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  &:hover {
    background: $btnBGHover;
    cursor: pointer;
  }
}

body {
  font: $fontStack;
  color: $fontColor;
  .main-wrapper {
    background: $mainBG;
  }
}

body,
h1 {
  margin: 0;
  padding: 0;
}

.btn {
  @include button;
}

header {
  background: $headerBG;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  .top-wrapper {
    display:flex;
    justify-content: space-between;
    img {
      width: 50%;
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      height: 40px;
      a {
        color: $headerColor;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 115px;
        font-weight: 600;
        border-right: 2px solid $navBorder;
        &:hover {
          color: #e90303;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      text-transform: uppercase;
      font-weight: 600;
      color: $headerColor;
      text-align: center;
    }
    .btn-top {
      padding: 10px 60px;
      margin-top: 15px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 64%;
  margin: auto;
  section {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-transform: uppercase;
    align-self: flex-end;
    margin: 20px 0 -25px 0;
  }
  .toolbar {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    input {
      padding: 10px 35px 10px 15px;
      margin-right: 10px;
      color: #010f16;
      border: 1px solid $formBorderColor;
    }
  }
}

article {
  background: $articleBGcolor;
  margin-top: 25px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  > div {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    flex: 1;
  }
  img {
    width: 318px;
  }
  .post-description {
    color: $postDescrColor;
    border-bottom: 2px solid $postBorderColor;
    padding: 10px 10px 10px 5px;
    font-size: $postDescrSize;
  }
  h3 {
    text-transform: uppercase;
    color: $postHeadingColor;
    margin: 8px 0 3px 0;
  }
  p {
    margin-top: 0;
  }
  .btn {
    padding: 9px 75px;
    align-self: flex-end;
  }
}

#about {
  > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  h1 {
    padding: 40px 10px 20px 0;
  }
  img {
    width: 100%;
    margin-top: 5px;
  }
}

#contact {
  align-items: flex-end;
  padding-top: 40px;
  h4 {
    text-transform: uppercase;
    padding-top: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      color: $formLabelColor;
    }
  }
  .form-wrapper-big-1,
  .form-wrapper-big-2 {
    display: flex;
  }
  .form-wrapper-big-1 {
    justify-content: space-between;
  }
  .form-wrapper-big-2 {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    .btn {
      padding: 8px 70px;
      margin-top: 17px;
    }
  }
  .form-wrapper-small {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 49.5%;
    input {
      width: 100%;
      box-sizing: border-box;
      padding: 15px 5px;
      border: 1px solid #607d8b;
    }
  }
  form {
    textarea {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #607d8b;
    }
  }
}

footer {
  padding: 10px 15px;
  font-size: 70%;
}
