$fontStack: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$fontColor: #010f16;
$btnColor: #ececec;
$btnBG: #01acac;
$btnBGHover: lighten(#01acac, 5%);
$headerBG: url("../img/header_background_v1.jpg");
$headerColor: #ececec;
$navBorder: #607d8b;
$mainBG: #fff;
$formBorderColor: #607d8b;
$articleBGcolor: #efefef;
$postDescrColor: #e90303;
$postDescrSize: 75%;
$postBorderColor: #607d8b;
$postHeadingColor: #0097a7;
$formLabelColor: #0097a7;
