$fontStack: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontColor: #757575;
$btnColor: #ececec;
$btnBG: #0401ac;
$btnBGHover: lighten(#0401ac, 5%);
$headerBG: url("../img/header_background_v2.jpg");
$headerColor: #ff5722;
$navBorder: #cfd8dc;
$mainBG: #efefef;
$formBorderColor: #cfd8dc;
$articleBGcolor: #fff;
$postDescrColor: #c3c3d4;
$postDescrSize: 75%;
$postBorderColor: #cfd8dc;
$postHeadingColor: #607d8b;
$formLabelColor: #607d8b;
